/****************************body****************************/
body {
    background-image: url("/frontend/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% -70%;
    overflow: hidden;
  }
  
  /****************************Navbar****************************/
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .navbar a {
    display: inline;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  .navbar-items{
    margin: 10px 50px;
  }
  .navbar a.active{
    border-bottom: 2px solid aqua;
    padding-bottom: 2px;
  }
  #login:hover {
    border-bottom: 2px solid aqua;
    padding-bottom: 2px;
  }
  